
.herotext{
  width: 80%;
  max-width: 90%;
  margin-left:9%;
  margin-top: 15%;
  padding: 30px;
}
.App{
  box-sizing: border-box;
  overflow: hidden;
}
.homepage{
  overflow: hidden;
}
.links li:hover{
  font-weight: bold;
  transition: 500ms;
}
.overlay{
  background-color: black;
  opacity: 0.3;
}
.summarytitle{
  margin-bottom: 3px;
  border-bottom: 3px solid rgb(51 65 85);
}
.fadeOut{
  opacity: 0.0;
}
.tab{
 transition: 1s ease-in-out;
  
}
.tabbar{
  padding: 5px;

}
.tooltip{
  margin-left: 40%;
  transition: 1s ease-in;
}
.info-section-options,.info-section-events,.info-section-districts,.info-section-header *{

  text-align: center;
}
.dist-map{
  width: 70%;
  margin-left: 15%;
  height: 500px;
}
.dist-map:hover{
  scale: 1.06;
}