
:root{
  --hover-color:rgb(51 65 85 )

}
.hero-text{
  width: 80%;
  max-width: 90%;
  margin-left:9%;
  padding: 70px;
  background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  margin-top: 150px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}
.read-more:hover{
  
transform: rotate(-30deg);
transition: 300ms ease;
background-color: var(--hover-color);
border: 0px;
}

.read-more-t:hover::before{
  content: "read more";
  
}
.animate-tooltip{
  padding: 3px;
  animation: animateT 300ms ease-in-out ;
  animation-delay: 100ms;
}
@keyframes animateT {
  from{
   transform: scale(0.9);
   
  }
  to{
    transform: scale(1);
  }
}
.read-more-t:hover{
  width: auto;
  transition: 1s ease-in-out;
  background-color: var(--hover-color);

}

.stat-card{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
}

.App{
  box-sizing: border-box;
  overflow: hidden;
}
.homepage{
  overflow: hidden;
}
.links li:hover{
  font-weight: bold;
  transition: 500ms;
}
.overlay{
  background-color: black;
  opacity: 0.3;
}
.summarytitle{
  margin-bottom: 3px;
  border-bottom: 3px solid rgb(51 65 85);
}
.fadeOut{
  opacity: 0.0;
}
.tab{
 transition: 1s ease-in-out;
  
}
.tabbar{
  padding: 5px;

}
.tooltip{
  margin-left: 40%;
  transition: 1s ease-in;
}
.info-section-options,.info-section-events,.info-section-districts,.info-section-header *{

  text-align: center;
}
.dist-map{
  width: 70%;
  margin-left: 15%;
  height: 500px;
}
.dist-map:hover{
  scale: 1.06;
}