
.herotext{
  width: 80%;
  max-width: 90%;
  margin-left:9%;
  margin-top: 15%;
  padding: 30px;
}
.App{
  box-sizing: border-box;
  overflow: hidden;
}
.homepage{
  overflow: hidden;
}
.links li:hover{
  font-weight: bold;
  transition: 500ms;
}
.overlay{
  background-color: black;
  opacity: 0.2;
}